body {
  background-color: #222f3e;
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 100px;
  text-shadow: -2px -1px 0 #222f3e;
}

.form,
.greetings {
  display: none;
  border: none;
}

.showing {
  display: block;
  color: #fff;
  font-size: 50px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.content li {
  color: #fff;
  list-style: none;
}